.footer {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    color: var(--white);
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 0;
}

.footer a {
    color: rgb(156, 255, 156);
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .footer {
        margin-top: 10vh;
    }
}